@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");

* {
  margin: 0 auto;
  padding: 0 auto;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  transition: all 0.5s;
  overflow-x: hidden;
}

/** ----------------------------------------------------------------  */

/* ========= CARD ============ */
.main__card {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.bar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bar__container {
  width: 30rem;
  height: 3rem;
  border-radius: 3rem;
  margin: 5rem;
  border: solid 1px black;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.bar__inner {
  height: 3rem;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.bar__mid {
  width: 50%;
}
.bar__mid_section {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.5px black;
  cursor: pointer;
}

.selected {
  background: #d6dcfa;
}

.disable {
  background: tomato;
}

.cards {
  width: 100%;
}

.card {
  width: 350px;
  height: 630px;
  box-shadow: 0px 14px 20px 5px rgba(0, 0, 0, 0.34);
  border-radius: 10px;
}

.upperCard {
  width: 100%;
  height: 33%;
  background-color: #d4d4d4;
  overflow: hidden;
}

.midCard {
  padding: 3rem;
  text-align: justify;
  font-size: 15px;
}

.blueHeading {
  color: #155b9c;
  font-weight: 900;
}

.grayCardText {
  color: gray;
}

.downCard {
  display: flex;
  justify-content: center;
  font-size: 15px;
}

.circlesCont {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bigCircle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: #ebe8e8 solid 5px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.smallCircle {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: #a5a2a2 solid 3px;
  align-items: center;
  display: flex;
  justify-content: center;
  font-weight: 900;
}

.numbersCont {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
}

.numbers {
  width: 50%;
  text-align: center;
  line-height: 3.5rem;
}

.image {
  width: 105%;
}
/* ========= CARD ============ */

/* ========= PROJECT ============ */
.project {
  font-size: 3em;
  text-align: center;
  padding-top: 7rem;
  color: rgb(21, 91, 156);
}
.projectText {
  display: flex;
  justify-content: space-around;
  padding: 0 30rem 5rem 30rem;
  font-size: 15px;
}

.projectBtn {
  display: flex;
  align-items: center;
  padding: 0 2rem;
  justify-content: space-around;
  color: rgb(21, 91, 156);
  border: 1px rgb(21, 91, 156) solid;
  width: 12rem;
}

.projectBtn h5 {
  margin: 1rem;
  font-size: 15px;
}

/* ========= PROJECT ============ */

/* ========= NAV ============ */
.navBarCon {
  display: flex;
  justify-content: space-around;
  margin-left: -25rem;
  background-color: #f8f4f4da;
}

.navBarCon h1 {
  font-size: 2em;
  color: rgb(21, 91, 156);
}
.navsCon {
  height: 5rem;
  display: flex;
  align-items: center;
}
.navs {
  padding: 1rem;
  font-weight: 600;
  font-size: 1.5em;
  transition: all 0.7s;
  text-decoration: none;
  color: #3b5998;
}
.navs:hover {
  color: rgb(10, 8, 15);
  text-decoration: none;
  background: #f4f4ff;
} /* ========= NAV ============ */

/* ========= HEADER ============ */
.homeHeader {
  background-image: url(./images/header.jpg);
  background-repeat: round;
  background-size: cover;
  height: 60vh;
  font-size: 20px;
}
.header__h2 {
  margin-bottom: 5rem;
}
.headerContent {
  width: 40%;
  padding-top: 10rem;
  margin-left: 200px;
  color: #fff;
}

.HeaderNumCon {
  width: 65%;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.redHeaderCon {
  background-color: rgb(196, 51, 51);
  color: #fff;
  height: 100%;
  font-size: 16px;
  padding: 3rem;
}

.redHeaderContent {
  text-align: center;
  margin: 4rem 20rem;
}

.headerBtn {
  background-color: #fff;
  color: rgb(196, 51, 51);
  text-align: center;
  width: 20rem;
  margin-top: 3rem;
}

.headerBtn h5 {
  padding: 1.5rem;
}

/* ========= HEADER ============ */

/* ========= BUTTON ============ */
.btn {
  border-radius: 10rem;
}
/* ========= BUTTON ============ */

/* ========= yatirmCon ============ */
.yatirmBG {
  background-image: url(./images/background-1.png);
  height: 50rem;
  font-size: 20px;
}

.yatirmCon {
  margin: 0 0 0 10rem;
  display: flex;
  justify-content: space-evenly;
  padding: 13rem 0;
}

.rightSec {
  width: 40%;
}

.leftSec {
  width: 40%;
}

.yattirmicibBtn {
  display: flex;
  align-items: center;
  padding: 0 2rem;
  justify-content: space-around;
  color: rgb(21, 91, 156);
  border: 1px rgb(21, 91, 156) solid;
  width: 20rem;
  margin-top: 7rem;
}

.yattirmicibBtn h5 {
  margin: 2rem;
}
/* ========= yatirmCon ============ */

/* ========= NASIL CALISIR SECTION ============ */
.nasilSec {
  padding: 7rem 1rem;
}

.nasilHeading {
  font-size: 15px;
  text-align: center;
}

.nasilHeading h1 {
  color: rgb(21, 91, 156);
}

.colorCards {
  padding-top: 4rem;
  display: flex;
  justify-content: space-between;
  margin: 0 10rem 0 5rem;
  font-size: 18px;
  text-align: center;
  color: #fff;
}
.cards {
  width: 25rem;
  border-radius: 1rem;
  font-size: 1.6rem;
  padding: 5rem 2rem;
}
.yelowCard {
  background-color: rgb(250, 183, 48);
}

.greenCard {
  background-color: rgb(90, 192, 172);
}

.purpleCard {
  background-color: rgb(133, 76, 155);
}

.redCard {
  background-color: rgb(236, 70, 51);
}
/* ========= NASIL CALISIR SECTION ============ */

/* ========= BLUE SECTION ============ */
.blueBG {
  background-image: url(./images/background-2.png);
  display: flex;
  justify-content: space-between;
  padding: 10rem;
  margin-top: 7rem;
  color: #fff;
  font-size: 16px;
  line-height: 3rem;
  height: 80.5rem;
}

.blueRightSide {
  text-align: center;
  width: 40%;
  margin: 5rem;
}

.blueLeftSide {
  text-align: center;
  width: 40%;
  margin: 5rem;
}
/* ========= BLUE SECTION ============ */

/* ========= PARTNERS ============ */
.partnersCon {
  text-align: center;
  padding: 8rem;
  color: rgb(21, 91, 156);
  font-size: 18px;
}

.partnersImgs {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
/* ========= PARTNERS ============ */
.aws {
  width: 12rem;
}
.google {
  width: 30rem;
}
.digitalocean {
  width: 30rem;
}
.firebase {
  width: 25rem;
}
/* ========= NEWSLETTER ============ */
.newsCon {
  background-image: url(./images/background-3.png);
  height: 44.2rem;
  padding: 8rem;
}

.newsText {
  color: #fff;
  text-align: center;
  font-size: 17px;
}

.newsForm {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}

.newsForm input {
  width: 50rem;
  border-radius: 10rem;
  border: none;
  margin-right: 5rem;
}

.newsletterBtn {
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: space-around;
  color: #fff;
  width: 15rem;
  background-color: rgba(26, 26, 26, 0.267);
}

.newsletterBtn h5 {
  font-size: 15px;
  margin: 1rem;
}
/* ========= NEWSLETTER ============ */

/* ========= FOOTER ============ */
.footer {
  display: flex;
  justify-content: space-around;
  padding: 5rem 20rem 5rem 17.5rem;
  background-color: #f4f4ff;
}

.footerNavs {
  width: 18%;
  font-size: 13px;
  padding-right: 10rem;
  color: rgb(47, 48, 46);
}

.socialCircle {
  width: 30%;
}

.iconFacebook:hover i {
  color: #3b5998;
}

.iconYoutube:hover i {
  color: #c4302b;
}
.iconTwitter:hover i {
  color: #1da1f2;
}

.iconInstagram:hover i {
  color: linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
  );
}

.socialCircle h1 {
  color: rgb(21, 91, 156);
  font-size: 30px;
}
.socialCircle i {
  color: rgb(21, 91, 156);
  margin: 80px 3rem 0 0;
  font-size: 27px;
}

.footerNav {
  font-size: 15px;
  display: list-item;
  list-style: none;
  text-decoration: none;
  line-height: 5rem;
  color: gray;
}

.FooterBlue {
  padding-top: 1.3rem;
  font-size: 13px;
  text-align: center;
  background-color: rgb(21, 91, 156);
  color: #fff;
  height: 4rem;
}
/* ========= FOOTER ============ */

.yellow__btn {
  width: 11rem;
  height: 3.5rem;
  position: relative;
  top: 5rem;
  left: 17rem;
  background: rgb(248, 191, 4);
  display: flex;
  justify-content: center;
  align-items: center;
}
